extends layout

block content
  header
      .centering
        .logo
          p Adventures in Coding While Brown
        nav
          ul
            li
              a(href='http://localhost:3000/about') About
            li
              a(href='https://www.linkedin.com/in/rcbrown84/', target='_blank') LinkedIn
            li
              a(href='https://www.github.com/generalmeow', target='_blank') Github
            li
              a(href='https://twitter.com/_GeneralMeow_', target='_blank') Twitter
            li
              a(href='http://localhost:3000/portfolio') Portfolio
  main
    .page
      .centering.cf
        ul.breadcrums
          li
            a(href='/') Home
      .centering
        .main-layout
          h1 About RC
          img.aboutimage(src="http://i64.tinypic.com/i769nb.jpg" alt="Image of RC owner of the site")
          ul.posts
            li.post
              p We don’t see them, we will never see them. Give thanks to the most high. Fan luv. Wraith talk. They don’t want us to eat. Life is what you make it, so let’s make it. Learning is cool, but knowing is better, and I know the key to success. We the best. Don’t ever play yourself. Let’s see what Chef Dee got that they don’t want us to eat. The key is to enjoy life, because they don’t want you to enjoy life. I promise you, they don’t want you to jetski, they don’t want you to smile.
              p It’s on you how you want to live your life. Everyone has a choice. I pick my choice, squeaky clean. Surround yourself with angels, positive energy, beautiful people, beautiful souls, clean heart, angel. The key to success is to keep your head above the water, never give up. I told you all this before, when you have a swimming pool, do not use chlorine, use salt water, the healing, salt water is the healing. The weather is amazing, walk with me through the pathway of more success. Take this journey with me, Lion! You see the hedges, how I got it shaped up? It’s important to shape up your hedges, it’s like getting a haircut, stay fresh.
              p Fan luv. Another one. They key is to have every key, the key to open every door. Put it this way, it took me twenty five years to get these plants, twenty five years of blood sweat and tears, and I’m never giving up, I’m just getting started. They key is to have every key, the key to open every door. Don’t ever play yourself. Eliptical talk. They will try to close the door on you, just open it. We don’t see them, we will never see them. I’m giving you cloth talk, cloth. Special cloth alert, cut from a special cloth.
  footer
    .centering
      .row
        .col-1
          ul.links
            li
              a(href='#') Stuff Here
            li
              a(href='#') More Stuff
            li
              a(href='#') More Links
        .col-2
          ul.links
            li
              a(href='#') Previous Posts
            li
              a(href='#') Blah blah
