extends layout

block content
  header
      .centering
        .logo
          p Adventures in Coding While Brown
        nav
          ul
            li
              a(href='http://localhost:3000/about') About
            li
              a(href='https://www.linkedin.com/in/rcbrown84/', target='_blank') LinkedIn
            li
              a(href='https://www.github.com/generalmeow', target='_blank') Github
            li
              a(href='https://twitter.com/_GeneralMeow_', target='_blank') Twitter
            li
              a(href='http://localhost:3000/portfolio') Portfolio
  main
    .page
      .centering.cf
        ul.breadcrums
          li
            a(href='/') Home
      .centering
        .main-layout
          h1 RC's Portfolio
          ul.posts
            li.post
  footer
    .centering
      .row
        .col-1
          ul.links
            li
              a(href='#') Stuff Here
            li
              a(href='#') More Stuff
            li
              a(href='#') More Links
        .col-2
          ul.links
            li
              a(href='#') Previous Posts
            li
              a(href='#') Blah blah
